* {
    box-sizing: border-box;
}

h1 {
    margin: 50px;
    background-color: violet;
    padding: 40px 50px;
    border: 1px black solid;
}

p {
    font-style: initial;
    background-color: seashell;
}

.box {
    box-sizing: border-box;
    background-color: skyblue;
    width: 480px;
    height: 480px;
    color: white;

    padding-top: 40px;
    padding-left: 50px;
}

.awesome {
    font-size: 100px;
    color: black;
    border: 1px black solid;
    width: 400px;
    height: 400px;
}